#another-mobail-mod{
    height: 28px;
    width: 40px;
}
.nav123{
    display: block;
    margin-right: 12%;
    padding: 5%;
}
.button-mod{
    all: unset;
    background-color: white;
    border-color: white;
}
.n-img{width: 25px;}
#nav123-asl{
    display: none;
    background-color: #D0A2F7;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 50%;
    margin: 0%;padding: 0%;
}
#X{
    width: 15px;
    position: absolute;
    top: 5px;
    right: 3%;
}
#n-h{
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
    text-align: center;
}
#n-fld a{
    text-align: right;
    display: block;
    list-style: none;
    color: white;
    text-decoration: none;
    font-family: B titr;
    font-size: 20px;
    margin: 15px;
    margin-bottom: 45px;
    margin-right: 10px;
}
#n-fld a:hover{
    color: #334755;
}
::placeholder{font-size: 28px;}
#n-fld{width: 100%;}
#Search-icon-hide{
    all: unset;
    position: absolute;
    top: 165px;
    left: 9%;
    background-color: none;
    border-radius: 25px;
    width: 0;
    height: 0;
    background-color: white;
    border-color: white;
}
#zoomimg-hide{width: 25px;height: 23px;}
#search-box-hide{
    all: unset;
    text-align: right;
    direction: rtl;
    width: 70%;
    padding-left: 30px;
    height: 35px;
    padding-right: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: #E5D4FF;
    margin-left: 8%;
    margin-top: 10px;
}
.button-mod2{
    all: unset;
    position: absolute;
    left: 89%;
    background-color: #D0A2F7;
}