footer{
    margin-top: 100px;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: B nazanin;
}
footer div{
    display: inline-block;
    width: 50%;
    background-color: #F0F0F0;
    height: 100%;
}
.bold{
    font-family: B Titr;
    font-size: 22px;
    font-weight: bold;
}
footer{
    display: flex;
}
footer a{
    list-style-type: none;
    color: #334755;
}
footer a:hover{
    color: #3B83F6;
}
#another ul{
    text-align: center;
}
#another>ul>a>li{
    display: inline-block;
    margin: 10px;
    width: 6%;
    color: #334755;
}
#another li:hover{
    background-color: #3B83F6;
    color: #E5D4FF;
    border-radius: 15px;
}