a   {text-decoration: none;
    color: white;}
.img{
    width: 25px;
    height: 23px;
    margin-top: 8px;
}
#header-right{width: 30%;}
#sigin{
    background-color: #3B83F6;
    margin: 0%;
    width: 48%;
    height: 40px;
    margin-right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#bndal1{
    position: absolute;
    color: white;
    top: 90px;
}
#bndal2{
    position: absolute;
    color: white;
    top: 90px;
    right: 14%;
}
#login{
    background-color: #bbd9ba;
    width: 48%;
    height: 40px;
    margin: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #334755;
    width: 75%;
    height: 100px;
    margin: 30px;
    margin-bottom: 0%;
    padding: 20px;
    border-radius: 25px;
}
::placeholder{
    font-size: 30px;
    font-family: B kamran;
    font-weight: bold;
    opacity: 0.7; 
}
header p{
    display: inline-block;
    margin-left: 10px;
}
#logosite{
    width: 85px;
    height: 85px;
}
#header-center{
    width: 35%;
    float: right;
    margin: 10px;
}
#Search-icon{
    position: absolute;
    top: 77px;
    left: 32%;
    background-color: none;
    border-radius: 25px;
    width: 0;
    height: 0;
    background-color: white;
    border-color: white;
}
#zoomimg{
    margin-top: 7px;
    margin-left: 5px;
    width: 25px;
    height: 23px;
}
#search-box{
    all: unset;
    position: absolute;
    text-align: right;
    direction: rtl;
    width: 26.25%;
    padding-left: 30px;
    height: 35px;
    padding-right: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: #E5D4FF;
    top: 80px;
    left: 32%;
}
.paksaz{
    position: absolute;
    top: 64px;left: 31.2%;
    color: white;
    border-bottom-right-radius: 20px;
    background-color: white;
}
nav{
    background-color: #DCBFFF;
    display: inline-block;
    width: 70%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 30px;
}
nav ul{
    padding: 0%;
    list-style-type: none;
    direction: rtl;
    display: flex;
    justify-content: center;
}
nav a{
    font-family: B Titr;
    font-weight: bold;
    font-size: 18px;
    width: 12%;
    margin: 2%;
    text-decoration: none;
    color: white;
}
select{
    border-color: #DCBFFF;
    background-color: #DCBFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 15%;
    height: 15px;
    color: #334755;
    padding: 0%;
    text-align: right;
}
nav a:hover{
    background-color: white;
    color: #334755;
    border-radius: 25px;
    width: 12%;
}
nav a:hover select{
    background-color: white;
    color: #334755;
    border-color: white;
}
option{
    font-family: B nazanin;
    font-size: 20px;
    font-weight: bold;
}