a   {text-decoration: none;
    color: white;}
.img{
    width: 25px;
    height: 23px;
    margin-top: 8px;
}
#sigin{
    background-color: #3B83F6;
    margin: 0%;
    width: 75px;
    height: 40px;
    margin-right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#login{
    background-color: #bbd9ba;
    width: 75px;
    height: 40px;
    margin: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #334755;
    width: 75%;
    height: 100px;
    margin: 30px;
    margin-bottom: 0%;
    padding: 20px;
    border-radius: 25px;
}
::placeholder{
    font-size: 30px;
    font-family: B kamran;
    font-weight: bold;
    opacity: 0.7; 
}
header p{display: inline-block;}
.logosite{width: 85px;height: 85px;}
#header-center{
    width: 35%;
    float: right;
    margin: 10px;
}
#Search-icon{
    all: unset;
    position: absolute;
    top: 80px;
    left: 32%;
    background-color: none;
    border-radius: 25px;
    width: 0;
    height: 0;
    background-color: white;
    border-color: white;
}
#zoomimg{
    margin-top: 7px;
    margin-left: 5px;
    width: 25px;
    height: 23px;
}
#search-box{
    all: unset;
    position: absolute;
    text-align: right;
    direction: rtl;
    width: 26.25%;
    padding-left: 30px;
    height: 35px;
    padding-right: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: #E5D4FF;
    top: 80px;
    left: 32%;
}
.nav123{display: none;}
nav{
    background-color: #DCBFFF;
    display: inline-block;
    width: 70%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 30px;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
    list-style-type: none;
    direction: rtl;
}
nav li{font-size: 22px; margin: 0%;margin: 2%;
}
nav a{
    width: 95px;
    font-family: B Titr;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: white;
    color: #334755;
    border-radius: 18px;
    width: 95px;
}
nav a:hover select{
    background-color: white;
    color: #334755;
    border-color: white;
}
option{
    font-family: B nazanin;
    font-size: 20px;
    font-weight: bold;
}
.nav123{display: none;}

#header-center{
    width: 35%;
    float: right;
    margin: 10px;
}