*{
    padding: 0%;
    margin: 0%;
}
.img{
    width: 25px;
    height: 23px;
    margin-top: 8px;
}
body{
    text-align: center;
    color: #334755;
    background-color: #F0F0F0;
}
article{
    display: inline-block;
    width: 50%;
    border-radius: 25px;
    height: 1200px;
    padding: 10px;
    margin: 2px;
    background-color: #D0A2F7;
    margin-left: 10%;
}
aside{
    display: inline-block;
    float: right;
    width: 20%;
    background-color: #DCBFFF;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
    margin-right: 10%;
}
#atop{
    text-align: right;
    border-radius: 25px;
    background-color: #D0A2F7;
    height: 250px;
    padding: 10px;
    margin: 10px;
}
#atop ul li{
    font-weight: bolder;
    font-size: 18px;
    font-family: B Nazanin;
    list-style-type: none;
}
.photo-maghale{
    margin-top: 10px;
    width: 120px;
}
.matn1, .matn2{
    position: absolute;
    font-size: 14px;
    right: 20.1%;
}
.matn1{top: 355px;}
.matn2{top: 470px;}
#amain{
    border-radius: 25px;
    background-color: #D0A2F7;
    height: 700px;
    padding: 10px;
    margin: 10px;
    margin-top: 70px;
}
#abuttom{
    border-radius: 25px;
    background-color: #D0A2F7;
    height: 70px;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}
#bottom{
    text-align: center;
    display: block;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    height: 20%;
    background-color: #D0A2F7;
    border-radius: 25px;
}
div>div{
    border-radius: 10px;
    background-color: #E5D4FF;
    display: inline-block;
    width: 20%;
    height: 60%;
}
div>div>p{
    text-align: center;
    float: right;
    margin: 10px;
}
.BData{
    float: left;
}
div img{
    width: 90%;
    height: 75%;
}
.Jodasaz{
    display: inline-block;
    text-align: center;
    width: 99%;
    height: 2px;
    background-color: #334755;
    margin-top: 0%;
    margin-bottom: 0%;
}