.search-box{display: none;}
.logo-site2{display: block;}
.logo-site1{display: none;}
.meno-hide{display: block;}
.input-search{padding-left: 15%; width:  85%;}
/*===============color================*/
nav a>p:hover{color: #334755;background-color: #DCBFFF;}
.link a:hover{background-color: #F0F0F0;color: #3B83F6;}
/*===============color================*/