header{width: 91.5%;margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 65px;}
nav{display: none;}
aside{display: none;}
article{width: 80%; margin: 10px;}
#logosite{width: 95%;height: 80px;}
#footer-center{display: none;}
#header-center{display: none;}
#nav123{display: block;width: 30%; text-align: left;}
#nav123-asl{display: none;}
