*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #c1bfbf;
    text-align: center;
    color: #5a5959;
}
section{
    border-radius: 25px;
    margin-top: 60px;
    display: inline-block;
    background-color: white;
    width: 400px;
    height: 400px;
}
::placeholder{
    color: #5a5959;
}
img{
    position: absolute;
    width: 20px;
    left: auto;
    margin-left: 10px;
}
#userimg{top: 153px;}
#passimg{top: 215px;}
#passimg2{top: 278px;}
h1{
    display: inline-block;
}
section div{
    margin-top: 30px;
}
#username, #password, #password1{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background-color: #bfbcbc;
    border-color: #bfbcbc;
    padding-left: 35px;
    font: 100 arial;
}
#checkbox{
    width: 30%;
    height: 20px;
    background-color: #bfbcbc;
    text-align: left;
    border-radius: 5px;
    float: left;
    margin-left: 30px;
    padding: 5px;
}
#sign{
    float: right;
    margin: 7%;
    margin-top: 0%;
}
#fld{
    margin-top: 5%;
}
.Jodasaz{
    display: inline-block;
    text-align: center;
    width: 85%;
    height: 2px;
    background-color: #5a5959;
    margin-top: 30px;
    margin-bottom: 0%;
}
.Jodasaz1{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 2px;
    background-color: #5a5959;
    margin: 0%;
}
button{
    width: 75px;
    height: 36.5px;
    background-color: #bfbcbc;
    border-color: white;
    border-radius: 25px;
    float: left;
    margin: 7%;
}
button:hover{
    background-color: #323131;
    color: #c1bfbf;
}
section>div>a{
    margin: 9%;
    float: right;
}
#footor{
    position: absolute;
    background-color: #919090;
    height: 45px;
    width: 400px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 385px;
}
a{
    color: blue;
    text-decoration: none;
    font-size: 16px;
}
a:hover{color: #323131;}
#bot{
    width: 20px;height: 20px;border-radius: 5px;
    position: relative;left: -15%;top: -22px;
    background-color: #5a5959;
}
#eror{color: red;display: none;}
#true{color: blue;display: none;}